// Bootstrap variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;
$black:    #000 !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;

$primary:       $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$secondary:     $gray-400 !default;

$administration:    #5d63f6 !default;
$assessment:        #eb66a2 !default;
$collaboration:     #f7634d !default;
$communication:     #11a676 !default;
$content:           #399be2 !default;
$interface:         #a378ff !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

// Tables
$table-accent-bg:             rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color:        $gray-900 !default;
$body-bg:           $white !default;
$drawer-bg-color:   $gray-100 !default;

// Links
$link-color:                              $primary !default;
$link-hover-color:                        darken($link-color, 15%) !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight:   700 !default;

// Navbar #15558d
$navbar-bg:                         #075395 !default;
$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $navbar-dark-color !default;
$navbar-dark-active-color:          $navbar-dark-color !default;
$navbar-dark-disabled-color:        rgba($white, .7) !default;

$navbar-light-color:                $primary !default;
$navbar-light-hover-color:          $navbar-light-color !default;
$navbar-light-active-color:         $navbar-light-color !default;
$navbar-light-disabled-color:       rgba($gray-600, 1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;


// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;
$card-group-margin: .25rem;

// Toasts
$toast-color:                       $white !default;
$toast-background-color:            rgba($gray-900, .95) !default;
$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($white, .1) !default;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;


$border-radius:               0rem !default;
$border-radius-lg:            0rem !default;
$border-radius-sm:            0rem !default;

$fullwidthpage: 0 !default;

@if $fullwidthpage == 1 {
    $course-content-maxwidth: 100%;
}

$courseiconsize: 30px !default;

$fpicon-width: 100px !default;


// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
), $theme-colors);
// stylelint-enable

$activity-icon-colors: () !default;
$activity-icon-colors: map-merge(
    (
        "administration": $administration,
        "assessment": $assessment,
        "collaboration": $collaboration,
        "communication": $communication,
        "content": $content,
        "interface": $interface,
    ),
    $activity-icon-colors
);

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
